*.[oa]
*.tmp
config*
junk*
*~
dwarfdump/tmp*
dwarfdump/*build*
dwarfdump/dwarfdump
Makefile
dwarfdump/Makefile
dwarfexample/Makefile
dwarfgen/Makefile
libdwarf/ar-output-temp
libdwarf/dwarf_names_enum.h
libdwarf/dwarf_names_new.h
libdwarf/dwarf_names.c
libdwarf/dwarf_names.h
libdwarf/errmsg_check
libdwarf/errmsg_check_list
libdwarf/gennames
libdwarf/libdwarf.h
libdwarf/Makefile
prefix/bin/dwarfdump
prefix/include/dwarf.h
prefix/include/libdwarf.h
